<h1>My movie lists</h1>

<ol>
<% @lists.each do |list| %>
<li>
<%=link_to list.name, list_path(list)%>
<% end %>
</li>
</ol>


<br>
<%= link_to "Add a new list", new_list_path %>
<div>
  <%= link_to "Back to lists", lists_path %>
</div>
